@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v20-cyrillic-300.woff2') format('woff2'),
    url('fonts/roboto-v20-cyrillic-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic-regular.woff2') format('woff2'),
    url('fonts/roboto-v20-cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v20-cyrillic-700.woff2') format('woff2'),
    url('fonts/roboto-v20-cyrillic-700.woff') format('woff');
}
